flows.json
[{"id":"3c8d4ba1.2a0114","type":"tab","label":"Web Socket","disabled":true,"info":""},{"id":"4c4dfb60.b00854","type":"tab","label":"Function Examples","disabled":false,"info":""},{"id":"fa1b0f0b.57033","type":"tab","label":"OPC Demo","disabled":true,"info":""},{"id":"67c6be48.0ccca","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"dadd0636.a92c08","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"62cbfd50.526564","type":"ui_tab","z":"","name":"Browse","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3a441240.269f6e","type":"websocket-listener","z":"","path":"/public/messagereceive","wholemsg":"false"},{"id":"84e5bca4.c3802","type":"websocket-listener","z":"","path":"/public/messagepublish","wholemsg":"false"},{"id":"a86889dd.a64568","type":"mongodb","z":"","hostname":"194.138.8.151","port":"27017","db":"myproject","name":""},{"id":"bdeecb2a.0dbe18","type":"ui_tab","z":"","name":"Form","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2a80025c.3988ce","type":"ui_group","name":"Group 1","tab":"62cbfd50.526564","order":1,"disp":true,"width":6},{"id":"32cb3345.fca3ec","type":"ui_group","z":"","name":"User","tab":"bdeecb2a.0dbe18","order":1,"disp":true,"width":"6","collapse":false},{"id":"a495257a.179b68","type":"ui_group","z":"","name":"Group 2","tab":"62cbfd50.526564","order":2,"disp":true,"width":"6","collapse":false},{"id":"e35298ea.363908","type":"ui_group","name":"Group 2","tab":"bdeecb2a.0dbe18","order":2,"disp":true,"width":6},{"id":"2319185e.cfecb8","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"59089d7c.243534","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d32e7165.2a283","type":"ui_group","name":"Group 3","tab":"62cbfd50.526564","order":3,"disp":true,"width":6},{"id":"c6f6bee8.859d7","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"8000","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9bddea67.04ae28","type":"OpcUa-Endpoint","z":0,"endpoint":"opc.tcp://md1uewuc.ad001.siemens.net:53530/OPCUA/SimulationServer","secpol":"None","secmode":"NONE","login":false},{"id":"e582d89e.a5e868","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://md1uewuc.ad001.siemens.net:53530/OPCUA/SimulationServer","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL SERVER","showErrors":false,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"e6da20be.d69e7","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"901caef2.33b88","type":"websocket in","z":"3c8d4ba1.2a0114","name":"","server":"3a441240.269f6e","client":"","x":200,"y":340,"wires":[["5b65d71e.f3fe38","1ca32930.ddac77"]]},{"id":"5b65d71e.f3fe38","type":"debug","z":"3c8d4ba1.2a0114","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":340,"wires":[]},{"id":"76086838.393f48","type":"http in","z":"3c8d4ba1.2a0114","name":"","url":"/public/chatroom","method":"get","upload":false,"swaggerDoc":"","x":180,"y":200,"wires":[["b6eacec2.16446"]]},{"id":"b6eacec2.16446","type":"template","z":"3c8d4ba1.2a0114","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"utf-8\">\n    <title>FRED-powered chat app</title>\n    <script src=\"http://code.jquery.com/jquery-1.11.3.min.js\"></script>\n    <script src=\"http:///code.jquery.com/jquery-migrate-1.2.1.min.js\"></script>\n    <style>\n        #messages {\n            border-color: #999;\n            border-style: solid;\n            width: 250px;\n            min-height: 200px;\n            margin: 5px;\n        }\n\n        .msg {\n            color: #FFF;\n            background-color: #2980B9;\n            padding: 2px;\n            margin: 2px;\n        }\n\n        .server {\n            color: #999;\n            background-color: white;\n            font-size: small;\n        }\n\n        .sentiment-3 {\n            background-color: #992222;\n        }\n\n        .sentiment0 {\n            background-color: #2980B9;\n        }\n\n        .sentiment3 {\n            background-color: #229922;\n        }\n\n        #form {\n            margin: 5px;\n        }\n\n        #form input {\n            width: 250px;\n        }\n    </style>\n</head>\n\n<body>\n    <div id=\"messages\"></div>\n    <form id=\"form\" onsubmit=\"return false;\">\n        <input id=\"text\" type=\"text\" onkeypress=\"return sendText(event)\" />\n    </form>\n\n    <script type=\"text/javascript\">\n\n        // Open a websocket using FRED.\n        var publishSocket = new WebSocket(\"ws://192.168.216.128/public/messagereceive\");\n        var listenSocket = new WebSocket(\"ws://192.168.216.128/public/messagepublish\");\n\n        listenSocket.onmessage = function (event) {\n            // When receiving a message append a div child to #messages\n            data = JSON.parse(event.data);\n            $(\"#messages\").append(\"<div class='msg sentiment\" + data.sentiment + \"' >\" + data.timestamp + \" - \" + data.msg + \"</div>\")\n            if ($(\"#messages\").children().length > 10) { $(\"#messages :first-child\").remove() }\n        }\n\n        listenSocket.onclose = function (event) {\n            $(\"#messages\").append(\"<div class='msg server'>Disconnected from server.</div>\");\n        }\n\n        listenSocket.onopen = function (event) {\n            $(\"#messages\").append(\"<div class='msg server'>Connected to server.</div>\")\n        }\n\n        function sendText(event) {\n            // Only if return key pressed\n            if (event.keyCode == 13) {\n                // Construct object containing the data the server needs.\n                d = new Date();\n                var data = {\n                    msg: $(\"#text\").val(),\n                    timestamp: d.getHours() + \":\" + d.getMinutes() + \":\" + d.getSeconds()\n                };\n                // Send the msg object as a JSON-formatted string.\n                publishSocket.send(JSON.stringify(data));\n                // Blank the text input element\n                $(\"#text\").val(\"\");\n            }\n        }\n    </script>\n\n</body>\n\n</html>","output":"str","x":520,"y":200,"wires":[["f714d6c.e3cd928"]]},{"id":"f714d6c.e3cd928","type":"http response","z":"3c8d4ba1.2a0114","name":"","statusCode":"","headers":{},"x":750,"y":200,"wires":[]},{"id":"acf80019.5b891","type":"function","z":"3c8d4ba1.2a0114","name":"","func":"return {\n    payload: {\n        msg:msg.data.msg,\n        timestamp:msg.data.timestamp,\n        sentiment:msg.sentiment.score\n    }\n};","outputs":1,"noerr":0,"x":970,"y":480,"wires":[["ed8640dd.85e99"]]},{"id":"ed8640dd.85e99","type":"websocket out","z":"3c8d4ba1.2a0114","name":"","server":"84e5bca4.c3802","client":"","x":1200,"y":480,"wires":[]},{"id":"1ca32930.ddac77","type":"json","z":"3c8d4ba1.2a0114","name":"","property":"payload","action":"","pretty":false,"x":430,"y":480,"wires":[["d3d0fab9.995698"]]},{"id":"d3d0fab9.995698","type":"change","z":"3c8d4ba1.2a0114","name":"","rules":[{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.msg","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":480,"wires":[["ce1e3054.0e013"]]},{"id":"ce1e3054.0e013","type":"sentiment","z":"3c8d4ba1.2a0114","name":"","property":"payload","x":780,"y":480,"wires":[["acf80019.5b891","cdba7d1e.8997e"]]},{"id":"cdba7d1e.8997e","type":"debug","z":"3c8d4ba1.2a0114","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":380,"wires":[]},{"id":"9e3b1929.96f148","type":"ui_text_input","z":"4c4dfb60.b00854","name":"","label":"Name","tooltip":"","group":"32cb3345.fca3ec","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":150,"y":120,"wires":[["bef49206.d2605"]]},{"id":"89133d9d.48a16","type":"ui_dropdown","z":"4c4dfb60.b00854","name":"","label":"Sex","tooltip":"","place":"Select option","group":"32cb3345.fca3ec","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"male","type":"str"},{"label":"","value":"female","type":"str"},{"label":"","value":"others","type":"str"}],"payload":"","topic":"","x":150,"y":180,"wires":[["99cfe181.48b64"]]},{"id":"bef49206.d2605","type":"change","z":"4c4dfb60.b00854","name":"","rules":[{"t":"set","p":"document.name","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":120,"wires":[["714e44a9.03dacc"]]},{"id":"99cfe181.48b64","type":"change","z":"4c4dfb60.b00854","name":"","rules":[{"t":"set","p":"document.sex","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":180,"wires":[["4d57c1b9.3b0cc"]]},{"id":"f0c5eb55.ebe468","type":"ui_button","z":"4c4dfb60.b00854","name":"","group":"32cb3345.fca3ec","order":2,"width":0,"height":0,"passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":260,"wires":[["dfd69700.ada648"]]},{"id":"5f02127.be76aec","type":"debug","z":"4c4dfb60.b00854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":200,"wires":[]},{"id":"714e44a9.03dacc","type":"debug","z":"4c4dfb60.b00854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":80,"wires":[]},{"id":"4d57c1b9.3b0cc","type":"debug","z":"4c4dfb60.b00854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":140,"wires":[]},{"id":"dfd69700.ada648","type":"change","z":"4c4dfb60.b00854","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"document","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":260,"wires":[["5f02127.be76aec","6682708e.148a6"]]},{"id":"6682708e.148a6","type":"function","z":"4c4dfb60.b00854","name":"Function Node","func":"node.warn(node.name);\nnode.warn(node.category);\nnode.warn(flow.lable);\n\nvar MongoClient = global.get('mongodb').MongoClient;\nvar url = \"mongodb://194.138.8.151:27017/\";\n\nMongoClient.connect(url, function (err, db) {\n    if (err) throw err;\n    var dbo = db.db(\"myproject\");\n    //  var myobj = { name: \"Company Inc\", sex: \"Highway 37\" };\n    var myobj = msg.payload;\n    dbo.collection(\"user\").insertOne(myobj, function (err, res) {\n        if (err) throw err;\n        node.log(\"1 document inserted\");\n        db.close();\n\n        msg.payload = 1;\n        node.send(msg);\n\n    });\n    node.log(\"end of MongoClient.connect\");\n\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":300,"wires":[["804d6df9.f03ad"]]},{"id":"804d6df9.f03ad","type":"ui_ui_control","z":"4c4dfb60.b00854","name":"","x":860,"y":340,"wires":[[]]},{"id":"17e74182.a27bbe","type":"OpcUa-Item","z":"fa1b0f0b.57033","item":"ns=5;s=Counter1","datatype":"Int32","value":"","name":"","x":320,"y":80,"wires":[["a2847751.7e97f8"]]},{"id":"a2847751.7e97f8","type":"OpcUa-Client","z":"fa1b0f0b.57033","endpoint":"9bddea67.04ae28","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","name":"","x":560,"y":80,"wires":[["85105aa5.435a28"]]},{"id":"85105aa5.435a28","type":"ui_chart","z":"fa1b0f0b.57033","name":"","group":"2a80025c.3988ce","order":1,"width":0,"height":0,"label":"Counter1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":80,"wires":[[]]},{"id":"10f05212.73686e","type":"inject","z":"fa1b0f0b.57033","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":80,"wires":[["17e74182.a27bbe","fd330a88.2092d8","df530077.660f1","8b3e1aa8.a19178","1714c3.eec68b3d","769e9749.1f63f8"]]},{"id":"fd330a88.2092d8","type":"OpcUa-Item","z":"fa1b0f0b.57033","item":"ns=5;s=Random1","datatype":"Double","value":"","name":"","x":320,"y":160,"wires":[["f25a734a.2bd45"]]},{"id":"f25a734a.2bd45","type":"OpcUa-Client","z":"fa1b0f0b.57033","endpoint":"9bddea67.04ae28","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","name":"","x":560,"y":160,"wires":[["78af077c.5506a8"]]},{"id":"74350cd7.95d074","type":"OpcUa-Client","z":"fa1b0f0b.57033","endpoint":"9bddea67.04ae28","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","name":"","x":560,"y":240,"wires":[["90c4cff2.d9a3d"]]},{"id":"90c4cff2.d9a3d","type":"ui_chart","z":"fa1b0f0b.57033","name":"","group":"d32e7165.2a283","order":1,"width":0,"height":0,"label":"Sinusoid1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":240,"wires":[[]]},{"id":"df530077.660f1","type":"OpcUa-Item","z":"fa1b0f0b.57033","item":"ns=5;s=Sinusoid1","datatype":"Double","value":"","name":"","x":320,"y":240,"wires":[["74350cd7.95d074"]]},{"id":"ce21813.f98908","type":"OpcUa-Client","z":"fa1b0f0b.57033","endpoint":"9bddea67.04ae28","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","name":"","x":560,"y":320,"wires":[["d3ca0ad7.c04a18"]]},{"id":"d3ca0ad7.c04a18","type":"ui_chart","z":"fa1b0f0b.57033","name":"","group":"a495257a.179b68","order":1,"width":0,"height":0,"label":"Square1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":320,"wires":[[]]},{"id":"8b3e1aa8.a19178","type":"OpcUa-Item","z":"fa1b0f0b.57033","item":"ns=5;s=Square1","datatype":"Double","value":"","name":"","x":320,"y":320,"wires":[["ce21813.f98908"]]},{"id":"efc1e069.ae3dd","type":"OpcUa-Client","z":"fa1b0f0b.57033","endpoint":"9bddea67.04ae28","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","name":"","x":560,"y":400,"wires":[["8ea1aaef.4aa118"]]},{"id":"8ea1aaef.4aa118","type":"ui_chart","z":"fa1b0f0b.57033","name":"","group":"a495257a.179b68","order":2,"width":0,"height":0,"label":"Triangle1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":400,"wires":[[]]},{"id":"1714c3.eec68b3d","type":"OpcUa-Item","z":"fa1b0f0b.57033","item":"ns=5;s=Triangle1","datatype":"Double","value":"","name":"","x":320,"y":400,"wires":[["efc1e069.ae3dd"]]},{"id":"6e23140e.ed6f8c","type":"OpcUa-Client","z":"fa1b0f0b.57033","endpoint":"9bddea67.04ae28","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","name":"","x":560,"y":480,"wires":[["bcf6eb4d.6732b8"]]},{"id":"bcf6eb4d.6732b8","type":"ui_chart","z":"fa1b0f0b.57033","name":"","group":"d32e7165.2a283","order":2,"width":0,"height":0,"label":"Sawtooth1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":480,"wires":[[]]},{"id":"769e9749.1f63f8","type":"OpcUa-Item","z":"fa1b0f0b.57033","item":"ns=5;s=Sawtooth1","datatype":"Double","value":"","name":"","x":320,"y":480,"wires":[["6e23140e.ed6f8c"]]},{"id":"aa2124f2.115248","type":"inject","z":"4c4dfb60.b00854","name":"","topic":"task1","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":440,"wires":[["d2aacfb5.d4058"]]},{"id":"a258b77d.e9ca08","type":"inject","z":"4c4dfb60.b00854","name":"","topic":"task2","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":540,"wires":[["d2aacfb5.d4058"]]},{"id":"d2aacfb5.d4058","type":"function","z":"4c4dfb60.b00854","name":"","func":"context.data = context.data || {};\nswitch (msg.topic)\n{\n    case \"task1\":\n        context.data.task1= msg.payload;\n        break;\n    case \"task2\":\n        context.data.task2=msg.payload;\n        break;\n        default:\n        break;\n}\n\nmsg=null;\n\nif (context.data.task1!=null && context.data.task2!=null)\n{\n    var ratio= context.data.task1 / context.data.task2;\n    context.data=null;\n    msg= {payload:ratio};\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":500,"wires":[["d9653153.557e7"]]},{"id":"d9653153.557e7","type":"debug","z":"4c4dfb60.b00854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":500,"wires":[]},{"id":"97644854.8ff198","type":"comment","z":"4c4dfb60.b00854","name":"Wait for 2 inputs","info":"","x":160,"y":380,"wires":[]},{"id":"7f532267.96ea4c","type":"comment","z":"4c4dfb60.b00854","name":"Access mongo DB in function & UI controls","info":"","x":240,"y":60,"wires":[]},{"id":"79b87b06.b83fb4","type":"http in","z":"4c4dfb60.b00854","name":"","url":"/posts","method":"get","upload":false,"swaggerDoc":"","x":100,"y":660,"wires":[["c4d453e3.2f689"]]},{"id":"a35d6d7d.afd6f","type":"mongodb in","z":"4c4dfb60.b00854","mongodb":"a86889dd.a64568","name":"","collection":"posts","operation":"find","x":510,"y":660,"wires":[["a83c78e6.09cb08"]]},{"id":"a83c78e6.09cb08","type":"template","z":"4c4dfb60.b00854","name":"posts","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <link rel=\"stylesheet\" href=\"https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css\">\n    <script src=\"https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js\"></script>\n    <script src=\"https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <link rel=\"stylesheet\" href=\"posts/posts.css\">\n    <script src=\"posts/posts.js\">   </script>\n</head>\n\n<body>\n    <h1 class=\"title\">My Micro Blog</h1>\n    <form action=\"posts\" method=\"post\">\n        <label for=\"title\">Title</label>\n        <input type=\"text\" class=\"form-control\" name=\"title\" placeholder=\"Title…\" />\n        <label for=\"post\">Post Content</label>\n        <input type=\"text\" class=\"form-control\" name=\"post\" placeholder=\"Say something…\" />\n        <button type=\"submit\" class=\"btn btn-primary\">Submit</button>\n    </form>\n    <div>\n        {{#payload}}\n        <div class=\"post\">\n            <h3>{{title}}</h3>\n            <p>{{post}}</p>\n        </div>\n        {{/payload}}\n    </div>\n</body>\n\n</html>","output":"str","x":750,"y":660,"wires":[["318d0676.a69fda"]]},{"id":"318d0676.a69fda","type":"http response","z":"4c4dfb60.b00854","name":"","statusCode":"","headers":{},"x":910,"y":660,"wires":[]},{"id":"972f961d.a61918","type":"http in","z":"4c4dfb60.b00854","name":"","url":"/posts","method":"post","upload":false,"swaggerDoc":"","x":170,"y":740,"wires":[["d7bec4e2.605128","94590e47.b61b2"]]},{"id":"d7bec4e2.605128","type":"mongodb out","z":"4c4dfb60.b00854","mongodb":"a86889dd.a64568","name":"","collection":"posts","payonly":true,"upsert":false,"multi":false,"operation":"store","x":460,"y":840,"wires":[]},{"id":"d600e92d.4d3668","type":"http response","z":"4c4dfb60.b00854","name":"","statusCode":"","headers":{},"x":700,"y":740,"wires":[]},{"id":"7e224a15.160684","type":"comment","z":"4c4dfb60.b00854","name":"Redirect in function","info":"","x":130,"y":620,"wires":[]},{"id":"78af077c.5506a8","type":"ui_gauge","z":"fa1b0f0b.57033","name":"","group":"2a80025c.3988ce","order":1,"width":0,"height":0,"gtype":"wave","title":"Random1","label":"","format":"{{value|number:2}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":160,"wires":[]},{"id":"f2941841.162b48","type":"openweathermap","z":"4c4dfb60.b00854","name":"","wtype":"current","lon":"","lat":"","city":"Beijing","country":"China","language":"en","x":410,"y":960,"wires":[["cb08d77d.13f7c8"]]},{"id":"cb08d77d.13f7c8","type":"debug","z":"4c4dfb60.b00854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":960,"wires":[]},{"id":"9976b815.a0a968","type":"inject","z":"4c4dfb60.b00854","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":960,"wires":[["f2941841.162b48"]]},{"id":"67e39652.5bbd68","type":"comment","z":"4c4dfb60.b00854","name":"Get Weather Info","info":"","x":160,"y":900,"wires":[]},{"id":"86a43881.36d138","type":"tcp in","z":"4c4dfb60.b00854","name":"","server":"server","host":"","port":"3000","datamode":"stream","datatype":"utf8","newline":"end","topic":"","base64":false,"x":380,"y":1060,"wires":[["a5a1f6c5.529368"]]},{"id":"a5a1f6c5.529368","type":"debug","z":"4c4dfb60.b00854","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":1060,"wires":[]},{"id":"4612baca.e8b784","type":"tcp out","z":"4c4dfb60.b00854","host":"localhost","port":"3000","beserver":"client","base64":false,"end":false,"name":"","x":390,"y":1180,"wires":[]},{"id":"bd0024bd.a932c8","type":"inject","z":"4c4dfb60.b00854","name":"","topic":"","payload":"1234","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1180,"wires":[["4612baca.e8b784"]]},{"id":"58786f47.7ca0b","type":"inject","z":"4c4dfb60.b00854","name":"","topic":"","payload":"end","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1120,"wires":[["4612baca.e8b784"]]},{"id":"79fdf539.919adc","type":"comment","z":"4c4dfb60.b00854","name":"TCP","info":"","x":110,"y":1040,"wires":[]},{"id":"94590e47.b61b2","type":"function","z":"4c4dfb60.b00854","name":"","func":"msg.headers = {\n    Location : \"http://192.168.216.128:1880/posts\",\n};\n\nmsg.statusCode = 302;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":740,"wires":[["d600e92d.4d3668"]]},{"id":"c4d453e3.2f689","type":"change","z":"4c4dfb60.b00854","name":"","rules":[{"t":"set","p":"sort","pt":"msg","to":"{\"_id\":-1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":660,"wires":[["a35d6d7d.afd6f"]]},{"id":"752c08f2.f2b408","type":"OPCUA-IIoT-Inject","z":"fa1b0f0b.57033","injectType":"read","payload":"","payloadType":"date","topic":"","repeat":"","crontab":"","once":false,"startDelay":"","name":"","addressSpaceItems":[{"name":"","nodeId":"ns=5;s=Counter1","datatypeName":""},{"name":"","nodeId":"ns=5;s=Expression1","datatypeName":""},{"name":"","nodeId":"ns=5;s=Random1","datatypeName":""},{"name":"","nodeId":"ns=5;s=Sawtooth1","datatypeName":""},{"name":"","nodeId":"ns=5;s=Sinusoid1","datatypeName":""},{"name":"","nodeId":"ns=5;s=Square1","datatypeName":""},{"name":"","nodeId":"ns=5;s=Triangle1","datatypeName":""}],"x":150,"y":640,"wires":[["ae223109.31ed5"]]},{"id":"5f7e2b03.690434","type":"debug","z":"fa1b0f0b.57033","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":880,"wires":[]},{"id":"ae223109.31ed5","type":"OPCUA-IIoT-Read","z":"fa1b0f0b.57033","attributeId":0,"maxAge":1,"depth":1,"connector":"e582d89e.a5e868","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"parseStrings":false,"historyDays":1,"x":350,"y":640,"wires":[["3b458178.721d7e","7d0f7c3.c3f3984","9481bc9d.af01f"]]},{"id":"2eb141c0.ab951e","type":"ui_chart","z":"fa1b0f0b.57033","name":"","group":"e35298ea.363908","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":720,"wires":[[]]},{"id":"3b458178.721d7e","type":"change","z":"fa1b0f0b.57033","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":720,"wires":[["2eb141c0.ab951e"]]},{"id":"ddf0e790.2a6a68","type":"ui_chart","z":"fa1b0f0b.57033","name":"","group":"e35298ea.363908","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":800,"wires":[[]]},{"id":"7d0f7c3.c3f3984","type":"change","z":"fa1b0f0b.57033","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":800,"wires":[["ddf0e790.2a6a68"]]},{"id":"9481bc9d.af01f","type":"OPCUA-IIoT-Result-Filter","z":"fa1b0f0b.57033","nodeId":"ns=5;s=Counter1","datatype":"","fixedValue":false,"fixPoint":2,"withPrecision":false,"precision":2,"entry":"7","justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"","name":"","showErrors":false,"x":570,"y":880,"wires":[["5f7e2b03.690434"]]},{"id":"d4f697d4.0d07d8","type":"comment","z":"fa1b0f0b.57033","name":"Old OPC nodes","info":"","x":100,"y":40,"wires":[]},{"id":"ad7d77d8.299e78","type":"comment","z":"fa1b0f0b.57033","name":"New OPC nodes","info":"","x":100,"y":560,"wires":[]}]